<h2>{{title}}</h2>


<form #formProduct="ngForm" id="form-product" class="col-lg-6" (ngSubmit)="onSubmit()">
    <label>
        Name
        <span *ngIf="!name.valid && name.touched" class="badge badge-danger">The name is required</span>
    </label>
    <input type="text" #name="ngModel" name="name" [(ngModel)]="product.name"  class="form-control" required>
    

    <label>
        Description
        <span *ngIf="!description.valid && description.touched" class="badge badge-danger">The description is required</span>
    </label>
    <textarea cols="30" #description="ngModel" name="description" [(ngModel)]="product.description" rows="10" class="form-control" required></textarea>

    <label>
        Price
        <span *ngIf="!price.valid && price.touched" class="badge badge-danger">The price is invalid</span>
    </label>
    <input type="text" #price="ngModel" name="price" [(ngModel)]="product.price" class="form-control" required pattern="[0-9]+">

    <label>Image</label>
    <input type="file" class="form-control">

    <input type="submit" value="{{title}}" class="btn btn-success" id="form-submit" [disabled]="!formProduct.form.valid">
</form>